[Desktop Entry]
Name=Tanglet
Name[cs]=Tanglet
Name[de]=Tanglet
Name[fr]=Tanglet
Name[hu]=Tanglet
Name[ms]=Tanglet
Name[pl]=Tanglet
Name[ro]=Tanglet
GenericName=Word Finding Game
GenericName[cs]=Hra o hledání slov
GenericName[fr]=Jeu de recherche de mots
GenericName[hu]=Szókereső játék
GenericName[ms]=Permainan Mencari Perkataan
GenericName[pl]=Gra wyszukiwania słów
GenericName[ro]=Joc de găsire a cuvintelor
Comment=Single player variant of Boggle
Comment[cs]=Varianta hry Boggle pro jednoho hráče
Comment[de]=Einzelspielervariante von Boggle
Comment[fr]=Variante de Boogle en mode simple joueur
Comment[hu]=A Boggle egyjátékos változata
Comment[ms]=Varian Boggle untuk seorang pemain
Comment[pl]=Gra wariantu Boggle dla jednego gracza
Comment[ro]=Boggle - Variantă de joc într-un singur jucător
Exec=tanglet
Icon=tanglet
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
