[Desktop Entry]
Name=Tanglet
Name[cs]=Tanglet
Name[de]=Tanglet
Name[es]=Tanglet
Name[fr]=Tanglet
Name[hu]=Tanglet
Name[lt]=Tanglet
Name[ms]=Tanglet
Name[nl]=Tanglet
Name[pl]=Tanglet
Name[ro]=Tanglet
GenericName=Word Finding Game
GenericName[cs]=Hra o hledání slov
GenericName[de]=Buchstabenrätsel
GenericName[es]=Juego de Encontrar Palabras
GenericName[fr]=Jeu de recherche de mots
GenericName[hu]=Szókereső játék
GenericName[lt]=Žodžių ieškojimo žaidimas
GenericName[ms]=Permainan Mencari Perkataan
GenericName[nl]=Woordzoek spel
GenericName[pl]=Gra słowna
GenericName[ro]=Joc de găsire a cuvintelor
Comment=Single player variant of Boggle
Comment[cs]=Varianta hry Boggle pro jednoho hráče
Comment[de]=Einzelspielervariante von Boggle
Comment[es]=Variante de un jugador de Boggle
Comment[fr]=Variante de Boggle en mode simple joueur
Comment[hu]=A Boggle egyjátékos változata
Comment[lt]=Boggle žaidimo variantas vienam žaidėjui
Comment[ms]=Varian pemain tunggal Boggle
Comment[nl]=Eenpersoonsversie van Boggle
Comment[pl]=Jednoosobowa wersja gry Boggle.
Comment[ro]=Variantă de joc Boggle într-un singur jucător
Exec=tanglet %f
Icon=tanglet
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
MimeType=application/x-tanglet;
